/* first things first */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: #000;
  /* iOS device orientation-switch font size lameness */
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  color: #000;
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
  height: 100%;
  background:url('background.jpg') #000 no-repeat;
}

a:link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  display: block;
}


h1 {
  font-size: 3.33em;
  letter-spacing: -1px;
  line-height: 1em;
  margin: 0;
  color: #333;
}


h2 {
  font-size: 1.33em;
  letter-spacing: -1px;
  color: #005774;
}

h1,
h2 {
  margin-left: 110px;
}

hr {
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #333;
  clear: both;
  margin: 1em 0;
}

.wrap {
  background: rgba(256, 256, 256, 0.9);
  height: 100%;
  width: 550px;
  margin: 0 15%;
  padding: 1em 3em;
}

.content {
  margin-top: 1em;
  padding: 1.5em 0 10px 0;
  border-top: 7px solid #000;
}

.logo {
  width: 106px;
  float: left;
}

.where {
  display: inline-block;
}

.title {
  float: left;
}

.contents {
  margin-left: 110px;
}

.quieter {
  font-size: .80em;
}



/* style overrides for the mailchimp signup form */
#mc_embed_signup {
  background: transparent; 
  clear:left; 
  font:14px Helvetica,Arial,sans-serif;
}

#mc_embed_signup input[type="email"] {
  width: 100%;
  background: #333;
  border: none;
  color: #fff;
}


#mc_embed_signup input[type="submit"] {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: none;
  color: #333;
  padding: 0;
  margin: 0;
  width: auto;
  text-align: left;
}

#mc_embed_signup input[type="submit"]:hover {
  background: transparent;
  color: #777;
}

#mc_embed_signup form {
  margin-left: 110px;
  padding: 0;

}



/* media query stuff goes here */
@media (max-width: 605px) {
  .wrap {
    margin: auto;
    padding: 1em;
    width: 100%;
    min-height: 600px;
  }

  h1 {
    font-size: 2.5em;
    letter-spacing: -1px;
  }
  
  
  h1, 
  h2,
  #mc_embed_signup form,
  .contents {
    margin-left: 90px;
  }
  
  .logo {
    width: 80px;
  }
}